{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Private Note for {{ recipe.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
</head>
<body>
    <div class="container">
        <h1>Add a Private Note for "{{ recipe.title }}"</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Save Note</button>
        </form>
        <p><a href="{{ recipe.get_absolute_url }}">Back to Recipe Details</a></p>
    </div>
</body>
</html>
